.pagination-controls {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  align-items: center;
}

.btn.btn-default.action-button.pagination-button {
  border: none;
  background-color: transparent;
  transition: all 0.25s esae-in-out;

  &:focus {
    outline: none;
    border-color: initial;
    box-shadow: none;
  }

  &:not(:disabled):hover {
    color: #0099f9;
    transform: scale(1.5);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.pagination-text .shiny-text-output {
  margin-left: 1rem;
  font-weight: bold;
}
